<template>
  <div>TEST LIFF</div>
</template>

<script>
export default {
  beforeCreate() {
    this.$liff.init({ liffId: "1656858908-RnEeeoj0" });
  },
};
</script>

<style lang="scss" scoped>
</style>